/* font family */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  *{
     margin: 0;
     padding: 0;
  }
 
  body {
     position: relative;
     width: 100%;
     height: 100vh;
     background: #1C1C1C;
   
   }
   
  .patriot-txt{
     margin-top: 3%;
     margin-left: 5%;
  }
  .patriot-txt h1{
     color: #F9DBB3;
     font-family: "Playfair Display", serif;
  }

  .nav-bar{
    margin-top: 3%;
  }
  .nav-bar ul{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     text-align: center;
  
     list-style-type: none;
     height: 40px;
     width: 90%;
     margin-left: 5%;
  }
 
  .nav-bar ul li{
     border: 1px solid #D29F1B;
     color: #D29F1B;
     border-radius: 10px;
     width: 90%;
     height: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding-left: 2%;
    padding-right: 2%;
  }
 
  .nav-bar ul li:hover{
    background-color: #D29F1B;
    color: #1D1C1C;
    
  }
 
  .nav-bar ul a{
    text-decoration: none;
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
  }
 

  .play-txt{
    margin-left: 10%;
    margin-top: 2%;
 }
 
 .play-txt h1{
    color: #D29F1B;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
 }

 .plays-cont{
    height: 35vh;
   width: 80%;
   margin-top: 3%;
   margin-left:10%;
   display: flex;
   justify-content: space-evenly;
 }

 .el-consejo-cont{
    border-radius: 50px;
    position: relative;
    width: 23%;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
 }
 
 .el-consejo-cont:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF; /* Semi-transparent white background */
    opacity: 5%;
    z-index: -1; /* Place the pseudo-element behind the content */
 }
 
 .el-consjo-info {
    position: relative;
    z-index: 1; /* Ensure content is above the pseudo-element */
 }
 
 
 .el-consjo-info h1{
    color: #FADCB4;
    width: 80%;
    font-weight: 400;
    font-size: 50px;
    margin-left: 15%;
    font-family: "Playfair Display", serif;
    line-height: 0.8;
    padding-top: 10%;
    
 }
 
 .el-consjo-info h2{
    color: #C4C4C4;
  
    width: 70%;
    margin-left: 15%;
    font-size: 12px;
    text-align:justify;
    margin-top: 6%;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
 
    font-style: normal;
 }
 
 .el-consjo-info p{
    margin-top: 12%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FADCB4;
    text-align: center;
 }
 
 .el-consjo-info a{
    text-decoration: none;
 }
  
 /*  */

 .Junta-Al-cont{
    border-radius: 50px;
    position: relative;
    width: 23%;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
 }
 
 .Junta-Al-cont:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF; /* Semi-transparent white background */
    opacity: 5%;
    z-index: -1; /* Place the pseudo-element behind the content */
 }
 
 .junta-al-info {
    position: relative;
    z-index: 1; /* Ensure content is above the pseudo-element */
 }
 
 
 .junta-al-info h1{
    color: #FADCB4;
    width: 80%;
    font-weight: 400;
    font-size: 50px;
    margin-left: 15%;
    font-family: "Playfair Display", serif;
    line-height: 0.8;
    padding-top: 10%;
    
 }
 
 .junta-al-info h2{
    color: #C4C4C4;
  
    width: 70%;
    margin-left: 15%;
    font-size: 12px;
    text-align:justify;
    margin-top: 15%;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    
    font-style: normal;
 }
 
 .junta-al-info p{
    margin-top: 12%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FADCB4;
    text-align: center;
 }
 
 .junta-al-info a{
    text-decoration: none;
 }

 /*  */

 
 .San-Euistaquio-cont{
    border-radius: 50px;
    position: relative;
    width: 23%;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
 }
 
 .San-Euistaquio-cont:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF; /* Semi-transparent white background */
    opacity: 5%;
    z-index: -1; /* Place the pseudo-element behind the content */
 }
 
 .San-Euistaquio-info {
    position: relative;
    z-index: 1; /* Ensure content is above the pseudo-element */
 }
 
 
 .San-Euistaquio-info h1{
    color: #FADCB4;
    width: 80%;
    font-weight: 400;
    font-size: 50px;
    margin-left: 15%;
    font-family: "Playfair Display", serif;
    line-height: 0.8;
    padding-top: 10%;
    
 }
 
 .San-Euistaquio-info h2{
    color: #C4C4C4;
  
    width: 70%;
    margin-left: 15%;
    font-size: 12px;
    text-align:justify;
    margin-top: 15%;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    
    font-style: normal;
 }
 
 .San-Euistaquio-info p{
    margin-top: 12%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FADCB4;
    text-align: center;
 }
 
 .San-Euistaquio-info a{
    text-decoration: none;
 }

 /*  */
 
 .Por-Telefono-cont{
    border-radius: 50px;
    position: relative;
    width: 23%;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
 }
 
 .Por-Telefono-cont:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF; /* Semi-transparent white background */
    opacity: 5%;
    z-index: -1; /* Place the pseudo-element behind the content */
 }
 
 .Por-Telefono-info {
    position: relative;
    z-index: 1; /* Ensure content is above the pseudo-element */
 }
 
 
 .Por-Telefono-info  h1{
    color: #FADCB4;
    width: 80%;
    font-weight: 400;
    font-size: 50px;
    margin-left: 15%;
    font-family: "Playfair Display", serif;
    line-height: 0.8;
    padding-top: 10%;
    
 }
 
 .Por-Telefono-info  h2{
    color: #C4C4C4;
  
    width: 70%;
    margin-left: 15%;
    font-size: 12px;
    text-align:justify;
    margin-top: 15%;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    
    font-style: normal;
 }
 
 .Por-Telefono-info  p{
    margin-top: 12%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FADCB4;
    text-align: center;
 }
 
 .Por-Telefono-info  a{
    text-decoration: none;
 }

 .the-patriot h1{
   position: absolute;
   left: 88px;
   top: 80px;
   width: 170px;
   height: 33px;
   font-size: 25.62px;
   font-family: 'Playfair Display', serif;
   color: #F9DBB3;
   font-weight: normal;

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav {
  position: absolute;
  top: 80px;
  right: 88px;
  display: flex;
  gap: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #3b3b3b;
}

a {
  color: #808080;
  text-decoration: none;
}

a:hover {
  color: #d29f1b;
  transform: scale(1.05);
  transition: color 0.3s;
}

a.active{
  color:#d29f1b;
  transform: scale(1.05);
}

.menu-button {
  background-color: #444;
  color: #f0e68c;
  border: 2px solid #d29f1b;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.menu-button:hover {
  background-color: #d29f1b;
  color: #444;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.education-nav {
  font-family: Garamond, serif;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
  margin-left: 38%;
  margin-top: 10%;
}

button {
  background-color: transparent;
  color: #d29f1b;
  border: 1px solid;
  padding: 10px 40px;
  border-radius:20px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #d29f1b;
  color: #000000;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button.active {
  background-color: #d29f1b;
  color: #000000;
  border: 2px solid #d29f1b;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}